{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Examples</h1>
    <div>
        {% for example in examples %}
        {% set example_id = example.key.id() %}
        <div>
            <p>{{ example_id }}</p>
            <p>{{ example.example_name }}</p>
            <p>{{ example.example_description }}</p>
            <p>{{ example.added_by }}</p>
            <p class="nowrap">{{ example.timestamp.strftime('%b %d, %Y %I:%M %p') }}</p>
        </div>
        {% else %}
        <div><p>No examples yet</p></div>
        {% endfor %}
    </div>

{% endblock content %}