{% extends "base.html" %}

{% block content %}
    <div class="text"><h1>Accountant 123</h1></div>
    <div class="text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p></div>
{% endblock %}

{% block tail_script %}

<script type="text/javascript">
	$('#customise').click(function() {
		$('body').toggleClass('edit');
	});
</script>

{% endblock %}