
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }