<div class="nav-bar navigation-bar">
    <ul class="navigation">
        <li>
            <a class="active" href="/">Home</a>
        </li>
        <li>
            <a href="/">Marketing</a>
        </li>
        <li>
            <a href="/">Reports</a>
        </li>
        <li>
            <a href="/">Customers</a>
        </li>
    </ul>
</div>
<div class="nav-bar site-bar">
    <div class="site-options">
        <div class="place">
            <p>Preview mode</p>
        </div>
        <div class="options">
            <a class="button button-primary" id="customise">Customise site</a>
            <a class="button button-primary" id="save">Save</a>
            <a class="button" id="cancel">Cancel</a>
            <a class="button" id="exit">Close</a>
        </div>
    </div>
</div>