<div class="nav-bar sidebar expanded">
    <p class="title navicon">&#9776;</p>
    <ul class="side-nav">
        <li class="collapsed">
            <a href="javascript:void(0)">Edit Content</a>
            <ul>
                <li class="collapsed">
                    <a class="format-text" href="javascript:void(0)">
                        <i class="ico-format-text"></i>Format text
                    </a>
                    <ul>
                        <li>
                            <img onclick="event.stopPropagation();" class="ckeditor" src="/static/img/ckeditor.png">
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-insert-image"></i>Insert image
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-add-link"></i>Add link
                    </a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Appearance</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-colours"></i>
                        Colours
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-fonts"></i>Fonts
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-switch-design"></i>Switch design
                    </a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Pages</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-page-management"></i>Page management
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-page-seo"></i>Page SEO
                    </a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Extras</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-paypal-button"></i>Insert PayPal button
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ico-insert-video"></i>Insert video
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>