<div class="nav-bar sidebar">
    <p class="mode">Edit Mode</p>
    <ul class="side-nav">
        <li class="collapsed">
            <a href="javascript:void(0)">Edit Content</a>
            <ul>
                <li class="collapsed">
                    <a class="format-text" href="javascript:void(0)">Format text</a>
                    <ul>
                        <li>
                            <img src="/static/img/ckeditor.png">
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Insert image</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Add link</a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Appearance</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">Colours</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Fonts</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Switch design</a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Pages</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">Page management</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Page SEO</a>
                </li>
            </ul>
        </li>
        <li class="collapsed">
            <a href="javascript:void(0)">Extras</a>
            <ul>
                <li>
                    <a href="javascript:void(0)">Insert PayPal button</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Insert video</a>
                </li>
            </ul>
        </li>
    </ul>
</div>