<div class="nav-bar sidebar">
    <p class="mode">Edit Mode</p>
    <ul class="side-nav">
        <li>
            <a href="/">Edit Content</a>
            <ul>
                <li>
                    <a href="/">Format text</a>
                </li>
                <li>
                    <a href="/">Insert image</a>
                </li>
                <li>
                    <a href="/">Add link</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Appearance</a>
            <ul>
                <li>
                    <a href="/">Colours</a>
                </li>
                <li>
                    <a href="/">Fonts</a>
                </li>
                <li>
                    <a href="/">Switch design</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Pages</a>
            <ul>
                <li>
                    <a href="/">Page management</a>
                </li>
                <li>
                    <a href="/">Page SEO</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Extras</a>
            <ul>
                <li>
                    <a href="/">Insert PayPal button</a>
                </li>
                <li>
                    <a href="/">Insert video</a>
                </li>
            </ul>
        </li>
    </ul>
</div>